@using System.Dynamic
@inherits ComponentBase
@inject ILogger<SearchResults> logger

@if (Results != null)
{
    <ol class="list-group list-group-numbered">
        @foreach (var doc in Results.DocumentHits)
        {
            <li class="list-group-item d-flex ">
                <div class="ms-2 me-auto">
                    <div class="fw-normal">File: <a @onclick="() => OpenFile(doc.Document.mUrl)" type="_blank"><strong>@doc.Document.mUrl</strong></a></div>
                    <div class="fw-normal">Document Id: <strong>@doc.Document.mId</strong></div>
                    <div class="fw-normal">Missing Words: <strong>[ @string.Join(", ", @doc.Missing) ]</strong></div>
                    <div class="fw-normal">Hits: <strong>@doc.NoOfHits</strong></div>
                    <div class="d-flex justify-content-between">
                        <div class="fw-normal">Creation Time: <strong>@doc.Document.mCreationTime</strong></div>
                        @if (Settings.ViewTimeStamp)
                        {
                            <div class="fw-normal">Index Time: <strong>@doc.Document.mIdxTime</strong></div>
                        }
                    </div>

                </div>
            </li>
        }
    </ol>
}
<ModalDialog @ref="@modalDialog" Title="Indhold">
    <div class="row">
        <h3>@fileUrl</h3>
        <hr>
        <p>@fileContent</p>
        <button class="btn btn-primary" @onclick="() => modalDialog.Close()">Close</button>
    </div>
</ModalDialog>

@code {
    [Parameter] public SearchResultDTO Results { get; set; }

    [Parameter] public AdvancedSettingsDTO Settings { get; set; }
    
    [Parameter] public string Username { get; set; }
    
    private string fileUrl = "";
    private string fileContent = "";
    private ModalDialog? modalDialog { get; set; }


    private ISearchService _searchService = SearchFactory.GetSearchLogic();
    
    private async Task OpenFile(string? documentUrl)
    {
        fileUrl = documentUrl;
        
        fileContent = await _searchService.GetFileContentAsync(documentUrl, Username);
        
        modalDialog.Open();
    }
}